@model IEnumerable<JokeWebApp.Models.Joke>

@{
    ViewData["Title"] = "Index";
}

<section class="mb-auto">
    <h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <div class="row">

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.JokeQuestion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.User)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <p><strong> @Html.DisplayFor(modelItem => item.JokeQuestion)</strong></p>
                        </td>
                        <td>
                            <a class="btn-link" href="mailto:@Html.DisplayFor(modelItem => item.User.UserName)?subject=Email%20Subject" target="_blank" role="button">
                                @Html.DisplayFor(modelItem => item.User.UserName)
                            </a>

                        </td>
                        <td>
                            <a class="btn btn-outline-blue" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a class="btn btn-outline-green" asp-action="Details" asp-route-id="@item.Id">Details</a>
                            <a class="btn btn-outline-red" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>


